<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://192.168.1.100/sssp/MyWidget"
        version="1.0.0"
        viewmodes="maximized">
  <tizen:application id="A1B2C3D4E5.MyWidget" package="A1B2C3D4E5" required_version="2.3"/>
  <tizen:profile name="tv"/>
  <name>Hotel_TV</name>
  <content src="index.html"/>
  <icon src="icon.png"/>
  <feature name="http://tizen.org/feature/screen.size.all"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
  <access origin="*" subdomains="true"/>
</widget>